<!DOCTYPE html>
<html lang="en">
<head>
    <title>Message Detail</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Message not found</h1>
    <a href="/">Home</a>
</body>
</html>
