<html>
    <head>
        <title>Mini Message Board</title>
    </head>
    <body>
    <h1>New Post form:</h1>
    <form method="POST" action="/new">
        <label for="user">Name:</label><br>
        <input type="text" id="user" name="user"><br>
        <label for="text">Text:</label><br>
        <textarea 
            type="text" 
            id="text" 
            name="text"
            style="width: 565px; height: 227px;"    
        ></textarea><br>
        <button type="submit" >Submit</button>
     </form>
     <a href="/">Home</a>
</body>
</html>